body {
  text-align: center;
  font-family: sans-serif;
}

audio {
  display: inline-block;
  width: 210px;
}

#samples {
  border: none;
  margin: auto;
}

#samples, #add-container {
  text-align: left;
}

#samples td {
  padding: 5px;
  max-width: 300px;
}

#samples td:first-child {
  min-width: 200px;
}

#samples td:nth-child(2) {
  text-align: center;
}

#samples tr:nth-child(even) {
  background-color: #edf1f8;
}

#samples tr:nth-child(odd) {
  background-color: #dae4f0;
}

#add-container {
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  display: inline-block;
}
